.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

body {
    background-color: #f5f5f5;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

code, pre {
    overflow-x: auto;
    word-wrap: break-word;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
}

.wiki-panel {
    max-width: 420px;
    text-align: justify;
    margin: -10px -8px;
    padding: 12px;
    color: #E0E0E0;
}


.wiki-panel img {
    width: 10%;
    height: 100%;
    border-radius: 4px;
}

.wiki-panel h5 {
    width: 70%;
}

.wiki-panel .wiki-text {
    margin-top: 8px;
}

.code-block {
    border: 1px solid #9c9c9c54;
    background: #9c9c9c0f;
    padding: 16px;
    border-radius: 16px;
}

blockquote {
    border-left: 5px solid #2962FF;
}

hr {
    border: none;
    height: 1px;
    background-color: #9E9E9E;
    width: 100%;
}

nav .avatar {
    margin: 12px 5px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

span.badge.new:after {
    content: "";
}

span.badge {
    min-width: 1rem;
    padding: 0 12px !important;
    border-radius: 20px;
    text-transform: uppercase;
}

span.badge.new {
    margin-left: 6px;
    font-size: 14px;
}

a[ajax-page] {
    cursor: pointer;
}

.modal-help {
    right: 32px;
    bottom: 32px;
    left: auto;
    top: auto !important;
    max-width: 500px;
    max-height: 90%;
    width: 90%;
    margin: 0;
}

.modal-help .modal-help-icon {
    width: 90px;
    padding: 8px;
    font-size: 36px;
}

.modal-help i {
    font-size: 36px;
}

.modal-help .modal-footer {
    border-top: 1px solid rgba(0,0,0,0.1);
}

.article-body {
    font-size: 18px;
    word-break: break-word;
}

#article-edit-panel {
    position: absolute;
    width: calc(100% - 1.5rem);
}

#preview-content li, .article-body li {
    list-style-type: disc !important;
    margin-left: 18px;
}

.h-title {
    margin-top: 120px;
}

.official {
    display: flex;
    height: 10px;
    width: 10px;
    margin: 6px;
    margin-left: 8px;
    background: #000;
    position: relative;
    user-select: none;
}

.official:before, .official:after {
    content: "";
    height: 10px;
    width: 10px;
    background: inherit;
    position: absolute;
    top: 0;
    left: 0;
}
.official:before {
    transform: rotate(30deg);
}
.official:after {
    transform: rotate(60deg);
}

.official .material-icons {
    font-size: 9px;
    line-height: 9px;
    /* margin: 1px; */
    margin-left: 1px;
    margin-top: 1px;
    z-index: 1;
    font-weight: 600;
    user-select: none;
}

.official16px.official {
    height: 16px;
    width: 16px;
    margin: 10px;
    margin-left: 12px;
}

.official16px.official:before, .official16px.official:after {
    height: 16px;
    width: 16px;
}

.official16px.official .material-icons {
    font-size: 15px;
    line-height: 15px;
    margin-top: 1px;
}

#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}

.dd-nav-main-menu {
    margin-top: -4px;
}

.margin-4 {
    margin: 4px;
}

.margin-left-4 {
    margin-left: 4px;
}

.margin-left-8 {
    margin-left: 8px;
}

.group-gradient {
    height: 0%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#424242+0,424242+100&1+0,0+100 */
    background: -moz-linear-gradient(left, rgba(66,66,66,1) 0%, rgba(66,66,66,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(66,66,66,1) 0%,rgba(66,66,66,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(66,66,66,1) 0%,rgba(66,66,66,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#00424242',GradientType=1 ); /* IE6-9 */
}

.group-color-item {
    opacity: 0.4;
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 65px;
}

.article-full-img {
    margin-top: -5px;
    max-height: 350px;
    object-fit: cover;
}

.collection-item:hover .group-color-item {
    opacity: 1;
}

.nav-gradient {
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.index-gradient {
    background: -moz-linear-gradient(top, rgba(33,33,33,0) 0%, rgba(33,33,33,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(33,33,33,0) 0%,rgba(33,33,33,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(33,33,33,0) 0%,rgba(33,33,33,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00212121', endColorstr='#212121',GradientType=0 ); /* IE6-9 */

    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
}

.index-bg {
    position: absolute;
    top: 50px;
    z-index: -1;
}

@-webkit-keyframes autofill {
    to {
        color: #fff;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

#capcha {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.progress .determinate {
    background-color: #2962FF;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #2962FF;
}

.progress {
    background-color: #82B1FF;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #235cff;
}

.switch label .lever:before {
    background-color: rgba(35,92,255,0.15) !important;
}

/* label color */
.input-field label {
    color: #9E9E9E !important;
}
/* label focus color */
.input-field input[type="tel"], .input-field input[type="number"], .input-field input[type="email"], .input-field input[type="password"], .input-field input[type="text"], .input-field textarea {
    color: #9E9E9E !important;
}
/* label focus color */
.input-field input[type="tel"]:focus, .input-field input[type="number"]:focus, .input-field input[type="email"]:focus, .input-field input[type="password"]:focus, .input-field input[type="text"]:focus, .input-field textarea:focus {
    color: #fff !important;
}

.input-field input[type="tel"]:focus, .input-field input[type="number"]:focus, .input-field input[type="email"]:focus, .input-field input[type="password"]:focus, .input-field input[type="text"]:focus, .input-field textarea:focus {
    border-bottom: 1px solid #2962FF !important;
    box-shadow: 0 1px 0 0 #2962FF !important;
}
/* valid color */
.input-field input.valid, .input-field textarea.valid {
    border-bottom: 1px solid #00C853;
    box-shadow: 0 1px 0 0 #00C853;
}
/* invalid color */
.input-field input.invalid, .input-field textarea.invalid {
    border-bottom: 1px solid #d50000 !important;
    box-shadow: 0 1px 0 0 #d50000 !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #2962FF !important;
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #2962FF;
    border-bottom: 2px solid #2962FF;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(41, 98, 255, 0.2);
    outline: none;
}

.tabs .indicator {
    background-color: #2962FF;
}

input[type=search]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 0 !important;
    /* -webkit-box-shadow: 0 1px 0 0 #26a69a; */
    /* box-shadow: 0 1px 0 0 #26a69a; */
    //box-shadow: none;
}

.input-field > input[type=search]:-webkit-autofill:not(.browser-default) + label, .input-field > input[type=date]:not(.browser-default) + label, .input-field > input[type=time]:not(.browser-default) + label {
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.select-wrapper img {
    border-radius: 50%;
}

.no-marg {
    margin: 0;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #000;
}

footer .links a {
    margin: 0 8px;
}

.msg-container-block {
    min-height: 406px;
    overflow: hidden;
}

.msg-area {
    overflow-y: auto !important;
    max-height: 200px !important;
    min-height: 70px !important;
    box-shadow: none !important;
    border-bottom: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.msg-box {
    width: 80%;
    margin: 4px 0;
}

.msg-box .msg-text {
    padding: 5px;
    border-radius: 5px;
}

.msg-container {
    max-height: 335px;
    padding: 0px 10px;
    overflow-y: auto;
}

.msg-profile-info {
    overflow: visible;
    border: none;
    border-bottom: 1px #F1F1F1 solid;
    margin: 0;
}

.msg-profile-info-content {
    padding-left: 60px;
    min-height: 50px;
    line-height: 16px;
}

.msg-profile-info-content img {
    width: 44px;
    height: 44px;
}

.a-hover {
    cursor: pointer;
}

.search-input-small input[type="search"] {
    border: none !important;
    padding-left: 48px !important;
    width: calc(100% - 48px) !important;
}

.search-input-small i {
    height: 45px;
    line-height: 45px;
}

.search-input-small .label-icon {
    height: 45px;
    line-height: 45px;
}

.search-input {
    width: calc(100% - 890px);
    height: 45px;
    margin: 10px;
    border-radius: 5px;
    margin-left: 94px;
}

.search-input input[type="search"] {
    color: #ffffff;
    border-radius: 5px;
}

.search-i {
    height: 64px !important;
    line-height: 70px !important;
}

.profile-avatar {
    width: 100px;
    height: 100px;
    border: 4px #ffffff solid
}

#preloader {
    position: absolute !important;
    top: 150px;
    z-index: -1;
    width: 100%;
    left: 0;
    right: 0;
}

ajax-title {
    display: none !important;
}

.opacity-zero {
    opacity: 0;
}

.flex {
    display: flex !important;
}

.flex-right {
    margin-left: auto !important;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.no-border {
    border: none !important;
}

.round-21 {
    width: 21px;
    height: 21px;
    border-radius: 50%;
}

.round-11 {
    width: 11px;
    height: 11px;
    border-radius: 50%;
}

.diamond-21 {
    width: 21px;
    height: 21px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.diamond-11 {
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);

    margin-top: 6px;
    margin-right: 8px;
    margin-left: 0;
}

.tag-content {
    width: fit-content;
    border-radius: 4px;
    padding: 0px 8px;
    text-transform: uppercase;
}

.profile-info h5 {
    margin: 10px 0 0 0;
}

.card-info {
    border: none;
    padding: 10px;
}

.card-info .collection-item {
    padding-right: 5px;
    border: none !important;
}

.card-info .title {
    font-size: 1rem;
    font-weight: 300;
    display: block;
    margin-top: 10px;
}

.card-feed .collection-item img {
    margin-right: 8px;
    width: 22px;
    height: 22px;
}

.card-content h4 {
    margin-top: 0;
}

.collection {
    border: none;
}

.collection .collection-item.avatar {
    min-height: 64px !important;
}

.card-new-post {
    border: none;
    padding: 10px;
}

.card-new-post .collection-item {
    padding-right: 5px;
}

.card-new-post .title {
    font-size: 1rem;
    font-weight: 300;
    display: block;
    margin-top: 10px;
}

.card img {
    object-fit: cover;
}

.card.horizontal .card-image img {
    width: 100px;
    height: 100%;
}

.card .card-tag {
    position: absolute;
    top: 14px;
    padding: 4px;
    border-radius: 0 2px 2px 0;
    background: #0000008a;
}

.card .card-delete-btn{
    position: absolute;
    top: 14px;
    right: 8px;
}

.card .card-edit-btn{
    position: absolute;
    top: 14px;
    right: 54px;
}

.card .card-title {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    width: 100%;

    font-size: 18px;
    padding: 16px !important;
    padding-left: 24px !important;
}

.card-action {
    padding: 8px 24px !important;
}

.card-action a {
    padding: 0px 8px;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all .2s ease-out !important;
}

.card-action .btn-floating {
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50% !important;
    display: flex;
    margin: 0 0 0 8px;
    padding: 0;
}

.card-action .btn-floating i {
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 1.4rem;
}

.card-action label {
    line-height: 36px;
    margin-left: 2px;
}

.card-action a:hover {
    background-color: rgba(33, 33, 33, 0.16);
}

.card-action .none-hover {
    color: #757575 !important;
    cursor: default;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.card-action .none-hover:hover {
    background-color: transparent !important;
}

.card-title-gradient {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0.8) 100%);
    width: 100%;
    height: 100%;
    max-width: 100%;
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
}

.card-title-very-small {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.13) 12%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.13) 12%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.13) 12%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03000000', endColorstr='#000000',GradientType=0 );
    width: 100%;
    padding: 10px !important;
}

.card-profile-blog img {
    height: 400px;
}

.logo {
    margin: 7px;
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50%;
}

#hover-white, #hover-black {
    transition: 0.3s all;
}

#scrollup {
    position: fixed;
    bottom: 32px;
    right: 32px;
    opacity: 0;
}

.profile-menu {
    width: 270px !important;
    top: 184px !important;
    font-weight: 400;
}

.dropdown-content, .dropdown-content:focus, .dropdown-content:hover, .dropdown-trigger, .dropdown-trigger:focus, .dropdown-trigger:hover {
    outline: none !important;
}

.hoverable-z1, .hoverable-z2, .hoverable-z3, .hoverable-z4, .hoverable-z5 {
    transition:box-shadow .25s; box-shadow:0;
}

.hoverable-z1:hover {
    transition:box-shadow .25s; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.hoverable-z2:hover {
    transition:box-shadow .25s; box-shadow:0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
}

.hoverable-z3:hover {
    transition:box-shadow .25s; box-shadow:0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.3);
}

.hoverable-z4:hover {
    transition:box-shadow .25s; box-shadow:0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3);
}

.hoverable-z5:hover {
    transition:box-shadow .25s; box-shadow:0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.3);
}

.focusable-z1 {
    transition:box-shadow .25s; box-shadow:0;
}

.focusable-z1:focus {
    transition:box-shadow .25s; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.focusable-z1 input[type="search"]:focus {
    color: #000000;
    transition:box-shadow .25s; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2) !important;
}

.show-on-small {
    display: none;
}


@media only screen and (min-width: 993px) {
    .container {
        width: 90%;
    }
    .container.small {
        width: 70%;
    }

    .card-profile-blog img {
        height: 300px;
    }
}

@media only screen and (min-width: 1590px) {
    .container {
        width: 70%;
    }
    .container.small {
        width: 60%;
    }

    .card-profile-blog img {
        height: 400px;
    }

    .article-full-img {
        max-height: 400px;
    }
}

@media only screen and (min-width: 1900px) {
    .container {
        width: 1700px;
    }
    .container.small {
        width: 1400px;
    }

    .card-profile-blog img {
        height: 400px;
    }

    .article-full-img {
        max-height: 500px;
    }
}

@media only screen and (max-width: 992px) {
    .search-input {
        width: calc(100% - 80px) !important;
        margin-left: 0;
        float: right !important;
    }
    .container.small {
        width: 90%;
    }
    .card-profile-blog img {
        height: 250px;
    }
}

@media only screen and (max-width: 600px) {
    .search-input {
        margin-top: 5px;
    }

    .show-on-small {
        display: block;
    }
}

@media only screen and (max-width: 400px) {
    .search-input {
        margin-top: 5px;
    }

    .modal-help {
        right: 16px;
        left: 16px;
        max-height: 90%;
        width: 90%;
    }

}
.btn.red:hover, .btn-large.red:hover, .btn-floating.red:hover {
    background-color: #e57373 !important;
}

.btn.pink:hover, .btn-large.pink:hover, .btn-floating.pink:hover {
    background-color: #F06292 !important;
}

.btn.purple:hover, .btn-large.purple:hover, .btn-floating.purple:hover {
    background-color: #BA68C8 !important;
}

.btn.deep-purple:hover, .btn-large.deep-purple:hover, .btn-floating.deep-purple:hover {
    background-color: #9575CD !important;
}

.btn.indigo:hover, .btn-large.indigo:hover, .btn-floating.indigo:hover {
    background-color: #7986CB !important;
}


.btn.blue:hover, .btn-large.blue:hover, .btn-floating.blue:hover {
    background-color: #2979FF !important;
}

.btn.light-blue:hover, .btn-large.light-blue:hover, .btn-floating.light-blue:hover {
    background-color: #4FC3F7 !important;
}

.btn.cyan:hover, .btn-large.cyan:hover, .btn-floating.cyan:hover {
    background-color: #4DD0E1 !important;
}

.btn.teal:hover, .btn-large.teal:hover, .btn-floating.teal:hover {
    background-color: #4DB6AC !important;
}

.btn.green:hover, .btn-large.green:hover, .btn-floating.green:hover {
    background-color: #81C784 !important;
}

.btn.light-green:hover, .btn-large.light-green:hover, .btn-floating.light-green:hover {
    background-color: #AED581 !important;
}

.btn.lime:hover, .btn-large.lime:hover, .btn-floating.lime:hover {
    background-color: #DCE775 !important;
}

.btn.yellow:hover, .btn-large.yellow:hover, .btn-floating.yellow:hover {
    background-color: #FFF176 !important;
}

.btn.amber:hover, .btn-large.amber:hover, .btn-floating.amber:hover {
    background-color: #FFD54F !important;
}

.btn.orange:hover, .btn-large.orange:hover, .btn-floating.orange:hover {
    background-color: #FFB74D !important;
}

.btn.deep-orange:hover, .btn-large.deep-orange:hover, .btn-floating.deep-orange:hover {
    background-color: #FF8A65 !important;
}

.btn.brown:hover, .btn-large.brown:hover, .btn-floating.brown:hover {
    background-color: #A1887F !important;
}

.btn.blue-grey:hover, .btn-large.blue-grey:hover, .btn-floating.blue-grey:hover {
    background-color: #90A4AE !important;
}

.btn.black:hover, .btn-large.black:hover, .btn-floating.black:hover {
    background-color: #424242 !important;
}

.fill.red {
     fill: #F44336 !important
 }
.fill.red.fill.lighten-5 {
    fill: #FFEBEE !important
}
.fill.red.fill.lighten-4 {
    fill: #FFCDD2 !important
}
.fill.red.fill.lighten-3 {
    fill: #EF9A9A !important
}
.fill.red.fill.lighten-2 {
    fill: #E57373 !important
}
.fill.red.fill.lighten-1 {
    fill: #EF5350 !important
}
.fill.red.fill.darken-1 {
    fill: #E53935 !important
}
.fill.red.fill.darken-2 {
    fill: #D32F2F !important
}
.fill.red.fill.darken-3 {
    fill: #C62828 !important
}
.fill.red.fill.darken-4 {
    fill: #B71C1C !important
}
.fill.red.fill.accent-1 {
    fill: #FF8A80 !important
}
.fill.red.fill.accent-2 {
    fill: #FF5252 !important
}
.fill.red.fill.accent-3 {
    fill: #FF1744 !important
}
.fill.red.fill.accent-4 {
    fill: #D50000 !important
}
.fill.pink {
    fill: #e91e63 !important
}
.fill.pink.fill.lighten-5 {
    fill: #fce4ec !important
}
.fill.pink.fill.lighten-4 {
    fill: #f8bbd0 !important
}
.fill.pink.fill.lighten-3 {
    fill: #f48fb1 !important
}
.fill.pink.fill.lighten-2 {
    fill: #f06292 !important
}
.fill.pink.fill.lighten-1 {
    fill: #ec407a !important
}
.fill.pink.fill.darken-1 {
    fill: #d81b60 !important
}
.fill.pink-text.fill.text-darken-2 {
    color: #c2185b !important
}
.fill.pink.fill.darken-3 {
    fill: #ad1457 !important
}
.fill.pink.fill.darken-4 {
    fill: #880e4f !important
}
.fill.pink.fill.accent-1 {
    fill: #ff80ab !important
}
.fill.pink.fill.accent-2 {
    fill: #ff4081 !important
}
.fill.pink.fill.accent-3 {
    fill: #f50057 !important
}
.fill.pink.fill.accent-4 {
    fill: #c51162 !important
}
.fill.purple {
    fill: #9c27b0 !important
}
.fill.purple.fill.lighten-5 {
    fill: #f3e5f5 !important
}
.fill.purple.fill.lighten-4 {
    fill: #e1bee7 !important
}
.fill.purple.fill.lighten-3 {
    fill: #ce93d8 !important
}
.fill.purple.fill.lighten-2 {
    fill: #ba68c8 !important
}
.fill.purple.fill.lighten-1 {
    fill: #ab47bc !important
}
.fill.purple.fill.darken-1 {
    fill: #8e24aa !important
}
.fill.purple.fill.darken-2 {
    fill: #7b1fa2 !important
}
.fill.purple.fill.darken-3 {
    fill: #6a1b9a !important
}
.fill.purple.fill.darken-4 {
    fill: #4a148c !important
}
.fill.purple.fill.accent-1 {
    fill: #ea80fc !important
}
.fill.purple.fill.accent-2 {
    fill: #e040fb !important
}
.fill.purple.fill.accent-3 {
    fill: #d500f9 !important
}
.fill.purple.fill.accent-4 {
    fill: #a0f !important
}
.fill.deep-purple {
    fill: #673ab7 !important
}
.fill.deep-purple.fill.lighten-5 {
    fill: #ede7f6 !important
}
.fill.deep-purple.fill.lighten-4 {
    fill: #d1c4e9 !important
}
.fill.deep-purple.fill.lighten-3 {
    fill: #b39ddb !important
}
.fill.deep-purple.fill.lighten-2 {
    fill: #9575cd !important
}
.fill.deep-purple.fill.lighten-1 {
    fill: #7e57c2 !important
}
.fill.deep-purple.fill.darken-1 {
    fill: #5e35b1 !important
}
.fill.deep-purple.fill.darken-2 {
    fill: #512da8 !important
}
.fill.deep-purple.fill.darken-3 {
    fill: #4527a0 !important
}
.fill.deep-purple.fill.darken-4 {
    fill: #311b92 !important
}
.fill.deep-purple.fill.accent-1 {
    fill: #b388ff !important
}
.fill.deep-purple.fill.accent-2 {
    fill: #7c4dff !important
}
.fill.deep-purple.fill.accent-3 {
    fill: #651fff !important
}
.fill.deep-purple.fill.accent-4 {
    fill: #6200ea !important
}
.fill.indigo {
    fill: #3f51b5 !important
}
.fill.indigo.fill.lighten-5 {
    fill: #e8eaf6 !important
}
.fill.indigo.fill.lighten-4 {
    fill: #c5cae9 !important
}
.fill.indigo.fill.lighten-3 {
    fill: #9fa8da !important
}
.fill.indigo.fill.lighten-2 {
    fill: #7986cb !important
}
.fill.indigo.fill.lighten-1 {
    fill: #5c6bc0 !important
}
.fill.indigo.fill.darken-1 {
    fill: #3949ab !important
}
.fill.indigo.fill.darken-2 {
    fill: #303f9f !important
}
.fill.indigo.fill.darken-3 {
    fill: #283593 !important
}
.fill.indigo.fill.darken-4 {
    fill: #1a237e !important
}
.fill.indigo.fill.accent-1 {
    fill: #8c9eff !important
}
.fill.indigo.fill.accent-2 {
    fill: #536dfe !important
}
.fill.indigo.fill.accent-3 {
    fill: #3d5afe !important
}
.fill.indigo.fill.accent-4 {
    fill: #304ffe !important
}
.fill.blue {
    fill: #2196F3 !important
}
.fill.blue.fill.lighten-5 {
    fill: #E3F2FD !important
}
.fill.blue.fill.lighten-4 {
    fill: #BBDEFB !important
}
.fill.blue.fill.lighten-3 {
    fill: #90CAF9 !important
}
.fill.blue.fill.lighten-2 {
    fill: #64B5F6 !important
}
.fill.blue.fill.lighten-1 {
    fill: #42A5F5 !important
}
.fill.blue.fill.darken-1 {
    fill: #1E88E5 !important
}
.fill.blue.fill.darken-2 {
    fill: #1976D2 !important
}
.fill.blue.fill.darken-3 {
    fill: #1565C0 !important
}
.fill.blue.fill.darken-4 {
    fill: #0D47A1 !important
}
.fill.blue.fill.accent-1 {
    fill: #82B1FF !important
}
.fill.blue.fill.accent-2 {
    fill: #448AFF !important
}
.fill.blue.fill.accent-3 {
    fill: #2979FF !important
}
.fill.blue.fill.accent-4 {
    fill: #2962FF !important
}
.fill.light-blue {
    fill: #03a9f4 !important
}
.fill.light-blue.fill.lighten-5 {
    fill: #e1f5fe !important
}
.fill.light-blue.fill.lighten-4 {
    fill: #b3e5fc !important
}
.fill.light-blue.fill.lighten-3 {
    fill: #81d4fa !important
}
.fill.light-blue.fill.lighten-2 {
    fill: #4fc3f7 !important
}
.fill.light-blue.fill.lighten-1 {
    fill: #29b6f6 !important
}
.fill.light-blue.fill.darken-1 {
    fill: #039be5 !important
}
.fill.light-blue.fill.darken-2 {
    fill: #0288d1 !important
}
.fill.light-blue.fill.darken-3 {
    fill: #0277bd !important
}
.fill.light-blue.fill.darken-4 {
    fill: #01579b !important
}
.fill.light-blue.fill.accent-1 {
    fill: #80d8ff !important
}
.fill.light-blue.fill.accent-2 {
    fill: #40c4ff !important
}
.fill.light-blue.fill.accent-3 {
    fill: #00b0ff !important
}
.fill.light-blue.fill.accent-4 {
    fill: #0091ea !important
}
.fill.cyan {
    fill: #00bcd4 !important
}
.fill.cyan.fill.lighten-5 {
    fill: #e0f7fa !important
}
.fill.cyan.fill.lighten-4 {
    fill: #b2ebf2 !important
}
.fill.cyan.fill.lighten-3 {
    fill: #80deea !important
}
.fill.cyan.fill.lighten-2 {
    fill: #4dd0e1 !important
}
.fill.cyan.fill.lighten-1 {
    fill: #26c6da !important
}
.fill.cyan.fill.darken-1 {
    fill: #00acc1 !important
}
.fill.cyan.fill.darken-2 {
    fill: #0097a7 !important
}
.fill.cyan.fill.darken-3 {
    fill: #00838f !important
}
.fill.cyan.fill.darken-4 {
    fill: #006064 !important
}
.fill.cyan.fill.accent-1 {
    fill: #84ffff !important
}
.fill.cyan.fill.accent-2 {
    fill: #18ffff !important
}
.fill.cyan.fill.accent-3 {
    fill: #00e5ff !important
}
.fill.cyan.fill.accent-4 {
    fill: #00b8d4 !important
}
.fill.teal {
    fill: #009688 !important
}
.fill.teal.fill.lighten-5 {
    fill: #e0f2f1 !important
}
.fill.teal.fill.lighten-4 {
    fill: #b2dfdb !important
}
.fill.teal.fill.lighten-3 {
    fill: #80cbc4 !important
}
.fill.teal.fill.lighten-2 {
    fill: #4db6ac !important
}
.fill.teal.fill.lighten-1 {
    fill: #26a69a !important
}
.fill.teal.fill.darken-1 {
    fill: #00897b !important
}
.fill.teal.fill.darken-2 {
    fill: #00796b !important
}
.fill.teal.fill.darken-3 {
    fill: #00695c !important
}
.fill.teal.fill.darken-4 {
    fill: #004d40 !important
}
.fill.teal.fill.accent-1 {
    fill: #a7ffeb !important
}
.fill.teal.fill.accent-2 {
    fill: #64ffda !important
}
.fill.teal.fill.accent-3 {
    fill: #1de9b6 !important
}
.fill.teal.fill.accent-4 {
    fill: #00bfa5 !important
}
.fill.green {
    fill: #4CAF50 !important
}
.fill.green.fill.lighten-5 {
    fill: #E8F5E9 !important
}
.fill.green.fill.lighten-4 {
    fill: #C8E6C9 !important
}
.fill.green.fill.lighten-3 {
    fill: #A5D6A7 !important
}
.fill.green.fill.lighten-2 {
    fill: #81C784 !important
}
.fill.green.fill.lighten-1 {
    fill: #66BB6A !important
}
.fill.green.fill.darken-1 {
    fill: #43A047 !important
}
.fill.green.fill.darken-2 {
    fill: #388E3C !important
}
.fill.green.fill.darken-3 {
    fill: #2E7D32 !important
}
.fill.green.fill.darken-4 {
    fill: #1B5E20 !important
}
.fill.green.fill.accent-1 {
    fill: #B9F6CA !important
}
.fill.green.fill.accent-2 {
    fill: #69F0AE !important
}
.fill.green.fill.accent-3 {
    fill: #00E676 !important
}
.fill.green.fill.accent-4 {
    fill: #00C853 !important
}
.fill.light-green {
    fill: #8bc34a !important
}
.fill.light-green.fill.lighten-5 {
    fill: #f1f8e9 !important
}
.fill.light-green.fill.lighten-4 {
    fill: #dcedc8 !important
}
.fill.light-green.fill.lighten-3 {
    fill: #c5e1a5 !important
}
.fill.light-green.fill.lighten-2 {
    fill: #aed581 !important
}
.fill.light-green.fill.lighten-1 {
    fill: #9ccc65 !important
}
.fill.light-green.fill.darken-1 {
    fill: #7cb342 !important
}
.fill.light-green.fill.darken-2 {
    fill: #689f38 !important
}
.fill.light-green.fill.darken-3 {
    fill: #558b2f !important
}
.fill.light-green.fill.darken-4 {
    fill: #33691e !important
}
.fill.light-green.fill.accent-1 {
    fill: #ccff90 !important
}
.fill.light-green.fill.accent-2 {
    fill: #b2ff59 !important
}
.fill.light-green.fill.accent-3 {
    fill: #76ff03 !important
}
.fill.light-green.fill.accent-4 {
    fill: #64dd17 !important
}
.fill.lime {
    fill: #cddc39 !important
}
.fill.lime.fill.lighten-5 {
    fill: #f9fbe7 !important
}
.fill.lime.fill.lighten-4 {
    fill: #f0f4c3 !important
}
.fill.lime.fill.lighten-3 {
    fill: #e6ee9c !important
}
.fill.lime.fill.lighten-2 {
    fill: #dce775 !important
}
.fill.lime.fill.lighten-1 {
    fill: #d4e157 !important
}
.fill.lime.fill.darken-1 {
    fill: #c0ca33 !important
}
.fill.lime.fill.darken-2 {
    fill: #afb42b !important
}
.fill.lime.fill.darken-3 {
    fill: #9e9d24 !important
}
.fill.lime.fill.darken-4 {
    fill: #827717 !important
}
.fill.lime.fill.accent-1 {
    fill: #f4ff81 !important
}
.fill.lime.fill.accent-2 {
    fill: #eeff41 !important
}
.fill.lime.fill.accent-3 {
    fill: #c6ff00 !important
}
.fill.lime.fill.accent-4 {
    fill: #aeea00 !important
}
.fill.yellow {
    fill: #ffeb3b !important
}
.fill.yellow.fill.lighten-5 {
    fill: #fffde7 !important
}
.fill.yellow.fill.lighten-4 {
    fill: #fff9c4 !important
}
.fill.yellow.fill.lighten-3 {
    fill: #fff59d !important
}
.fill.yellow.fill.lighten-2 {
    fill: #fff176 !important
}
.fill.yellow.fill.lighten-1 {
    fill: #ffee58 !important
}
.fill.yellow.fill.darken-1 {
    fill: #fdd835 !important
}
.fill.yellow.fill.darken-2 {
    fill: #fbc02d !important
}
.fill.yellow.fill.darken-3 {
    fill: #f9a825 !important
}
.fill.yellow.fill.darken-4 {
    fill: #f57f17 !important
}
.fill.yellow.fill.accent-1 {
    fill: #ffff8d !important
}
.fill.yellow.fill.accent-2 {
    fill: #ff0 !important
}
.fill.yellow.fill.accent-3 {
    fill: #ffea00 !important
}
.fill.yellow.fill.accent-4 {
    fill: #ffd600 !important
}
.fill.amber {
    fill: #ffc107 !important
}
.fill.amber.fill.lighten-5 {
    fill: #fff8e1 !important
}
.fill.amber.fill.lighten-4 {
    fill: #ffecb3 !important
}
.fill.amber.fill.lighten-3 {
    fill: #ffe082 !important
}
.fill.amber.fill.lighten-2 {
    fill: #ffd54f !important
}
.fill.amber.fill.lighten-1 {
    fill: #ffca28 !important
}
.fill.amber.fill.darken-1 {
    fill: #ffb300 !important
}
.fill.amber.fill.darken-2 {
    fill: #ffa000 !important
}
.fill.amber.fill.darken-3 {
    fill: #ff8f00 !important
}
.fill.amber.fill.darken-4 {
    fill: #ff6f00 !important
}
.fill.amber.fill.accent-1 {
    fill: #ffe57f !important
}
.fill.amber.fill.accent-2 {
    fill: #ffd740 !important
}
.fill.amber.fill.accent-3 {
    fill: #ffc400 !important
}
.fill.amber.fill.accent-4 {
    fill: #ffab00 !important
}
.fill.orange {
    fill: #ff9800 !important
}
.fill.orange-text {
    color: #ff9800 !important
}
.fill.orange.fill.lighten-5 {
    fill: #fff3e0 !important
}
.fill.orange.fill.lighten-4 {
    fill: #ffe0b2 !important
}
.fill.orange.fill.lighten-3 {
    fill: #ffcc80 !important
}
.fill.orange.fill.lighten-2 {
    fill: #ffb74d !important
}
.fill.orange.fill.lighten-1 {
    fill: #ffa726 !important
}
.fill.orange.fill.darken-1 {
    fill: #fb8c00 !important
}
.fill.orange.fill.darken-2 {
    fill: #f57c00 !important
}
.fill.orange.fill.darken-3 {
    fill: #ef6c00 !important
}
.fill.orange.fill.darken-4 {
    fill: #e65100 !important
}
.fill.orange.fill.accent-1 {
    fill: #ffd180 !important
}
.fill.orange.fill.accent-2 {
    fill: #ffab40 !important
}
.fill.orange.fill.accent-3 {
    fill: #ff9100 !important
}
.fill.orange.fill.accent-4 {
    fill: #ff6d00 !important
}
.fill.deep-orange {
    fill: #ff5722 !important
}
.fill.deep-orange.fill.lighten-5 {
    fill: #fbe9e7 !important
}
.fill.deep-orange.fill.lighten-4 {
    fill: #ffccbc !important
}
.fill.deep-orange.fill.lighten-3 {
    fill: #ffab91 !important
}
.fill.deep-orange.fill.lighten-2 {
    fill: #ff8a65 !important
}
.fill.deep-orange.fill.lighten-1 {
    fill: #ff7043 !important
}
.fill.deep-orange.fill.darken-1 {
    fill: #f4511e !important
}
.fill.deep-orange.fill.darken-2 {
    fill: #e64a19 !important
}
.fill.deep-orange.fill.darken-3 {
    fill: #d84315 !important
}
.fill.deep-orange.fill.darken-4 {
    fill: #bf360c !important
}
.fill.deep-orange.fill.accent-1 {
    fill: #ff9e80 !important
}
.fill.deep-orange.fill.accent-2 {
    fill: #ff6e40 !important
}
.fill.deep-orange.fill.accent-3 {
    fill: #ff3d00 !important
}
.fill.deep-orange.fill.accent-4 {
    fill: #dd2c00 !important
}
.fill.brown {
    fill: #795548 !important
}
.fill.brown.fill.lighten-5 {
    fill: #efebe9 !important
}
.fill.brown.fill.lighten-4 {
    fill: #d7ccc8 !important
}
.fill.brown.fill.lighten-3 {
    fill: #bcaaa4 !important
}
.fill.brown.fill.lighten-2 {
    fill: #a1887f !important
}
.fill.brown.fill.lighten-1 {
    fill: #8d6e63 !important
}
.fill.brown.fill.darken-1 {
    fill: #6d4c41 !important
}
.fill.brown.fill.darken-2 {
    fill: #5d4037 !important
}
.fill.brown.fill.darken-3 {
    fill: #4e342e !important
}
.fill.brown.fill.darken-4 {
    fill: #3e2723 !important
}
.fill.blue-grey {
    fill: #607d8b !important
}
.fill.blue-grey.fill.lighten-5 {
    fill: #eceff1 !important
}
.fill.blue-grey.fill.lighten-4 {
    fill: #cfd8dc !important
}
.fill.blue-grey.fill.lighten-3 {
    fill: #b0bec5 !important
}
.fill.blue-grey.fill.lighten-2 {
    fill: #90a4ae !important
}
.fill.blue-grey.fill.lighten-1 {
    fill: #78909c !important
}
.fill.blue-grey.fill.darken-1 {
    fill: #546e7a !important
}
.fill.blue-grey.fill.darken-2 {
    fill: #455a64 !important
}
.fill.blue-grey.fill.darken-3 {
    fill: #37474f !important
}
.fill.blue-grey.fill.darken-4 {
    fill: #263238 !important
}
.fill.grey {
    fill: #9e9e9e !important
}
.fill.grey.fill.lighten-5 {
    fill: #fafafa !important
}
.fill.grey.fill.lighten-4 {
    fill: #f5f5f5 !important
}
.fill.grey.fill.lighten-3 {
    fill: #eee !important
}
.fill.grey.fill.lighten-2 {
    fill: #e0e0e0 !important
}
.fill.grey.fill.lighten-1 {
    fill: #bdbdbd !important
}
.fill.grey.fill.darken-1 {
    fill: #757575 !important
}
.fill.grey.fill.darken-2 {
    fill: #616161 !important
}
.fill.grey.fill.darken-3 {
    fill: #424242 !important
}
.fill.grey.fill.darken-4 {
    fill: #212121 !important
}
.fill.black {
    fill: #000 !important
}
.fill.white {
    fill: #fff !important
}

::selection 					 { background: #2196f3; }
::-moz-selection                 { background: #b3d4fc; text-shadow:none }
::selection                      { background: #b3d4fc; text-shadow:none }

::-webkit-scrollbar              { width: 6px; height: 6px; }
::-webkit-scrollbar-track        { background-color: #F5F5F5; border-radius: 20px;  }
::-webkit-scrollbar-thumb        { background-color: #b3b3b3; -webkit-appearance: none;  border-radius:20px; }
::-webkit-scrollbar-thumb:hover  { background-color: #2962FF; }